body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('cover-1641262651.png') center/cover no-repeat;
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    max-width: 300%;
}

.login-header {
    background-color: #0a4168;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.login-header h2 {
    margin: 0;
}

form {
    padding: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #2980b9;
}

.bottom-text {
    text-align: center;
    padding: 10px;
}

.bottom-text a {
    color: #3498db;
    text-decoration: none;
}

.bottom-text a:hover {
    text-decoration: underline;
}
